#index-text {
    padding-top: 13vh;
    font-size: 1.2em;
    font-weight: 300;
}
#index-image {
    float: right;
    text-align: right;
    padding-top: 23vh;
    img {
        border-radius: 50%;
    }
}