{% extends "base.html" %}
{% block content %}
<div class="row content" id="flexbox">
  <div class="col-2"></div>
  <div class="col-5 content" id="index-text">
    <h1 class="center">
      About
     </h1>
    {% if section.content %} {{ section.content | safe }} 
    {% elif page.content %}
    {{ page.content }}
    {% endif %}
  </div>
  <div class="col-3">
    <div id = "index-image">
      <img src="{{config.base_url}}{{ config.extra.avatar_src }}" alt="avatar" class="avatar">
    </div>
  </div>
</div> 
{% endblock %}

